.nav-link {
    color: black;
    transition: color 0.3s ease;
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    max-width: 150px;
    height: auto;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
    font-size: 1.5em;
}

.nav-link:hover {
    text-decoration: none;
    text-decoration-color: plum;
}

.nav-link.active {
    text-decoration-color: plum;
}

.navbar {
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0px;
}

.navbar-nav .nav-link i {
    font-size: 20px;
}

.nav-bag {
    position: relative;
}

.dropdown-menu {
    background-color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.dropdown-item {
    color: #343a40;
    padding: 0.25rem 1.5rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #e9ecef;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0.125em;
}

.form-control {
    width: 120px;
}

.form-control:focus {
    border-color: #DDA0DD;
    box-shadow: 0 0 0 0.2rem rgba(221, 160, 221, 0.25);
}

.cartcount {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;

}

.hero-section {
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
}

.hero-section .row {
    height: 100%;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-section .container {
    z-index: 2;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    min-width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {

    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p,
footer a {
    color: white;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}


/*PC*/
@media screen and (max-width: 1440px) {
    .product-card {
        flex: 1 1 calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }



    .navbar-brand img {
        max-width: 120px;
    }
}

@media screen and (min-width: 1024px) {
    .cartcount {
        position: absolute;
        top: -1px;
        right: -5px;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;

    }
}




/*Tablet*/
@media screen and (max-width: 1024px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .hero-section {
        height: 200px;
    }

    .hero-section h1 {
        font-size: 1.5em;
    }

    .navbar .container-fluid {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: left;
        width: 100%;
    }

    .navbar-nav .nav-link {
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px solid white;
    }

    .navbar-nav .nav-link:last-child {
        border-bottom: none;
    }

    .navbar-collapse {
        width: 100%;
        background-color: white;
    }

    .navbar-toggler {
        margin-right: auto;
        margin-left: 10px;
        border: none;
    }

    .cartcount {
        position: absolute;
        top: -1px;
        left: 20px;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;

    }
}

@media screen and (max-width: 768px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .hero-section {
        height: 200px;
    }

    .hero-section h1 {
        font-size: 1.5em;
    }

    .navbar .container-fluid {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    .navbar-nav {
        flex-direction: column;
        text-align: left;
        width: 100%;
    }

    .navbar-nav .nav-link {
        width: 100%;
        padding: 10px 15px;
        border-bottom: 1px solid white;
    }

    .navbar-nav .nav-link:last-child {
        border-bottom: none;
    }

    .navbar-collapse {
        width: 100%;
        background-color: white;
    }

    .navbar-toggler {
        margin-right: auto;
        margin-left: 10px;
        border: none;
    }

    .cartcount {
        position: absolute;
        top: -1px;
        left: 30px;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;

    }
}

/*phone*/
@media screen and (max-width: 576px) and (min-width: 576px) {

    .product-card {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

    .col {
        flex: 100%;
        max-width: 100%;
    }

    .hero-section {
        height: 100px;
    }

    .hero-section h1 {
        font-size: 1.2em;
    }

    .navbar .container-fluid {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        text-align: left;

    }

    .navbar-nav .nav-link {
        padding: 10px;
        border-bottom: 1px solid white;
    }

    .navbar-nav .nav-link:last-child {
        border-bottom: none;
    }

    .navbar-collapse {
        width: 100%;
        background-color: white;
    }

    .navbar-toggler {
        margin-right: auto;
        margin-left: 10px;
        border: none;
    }

    .cartcount {
        position: absolute;
        top: -1px;
        left: 25px;
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 12px;

    }
}